/*****************************************
    Patstrap CSS by @patmood
    https://github.com/patmood/patstrap
******************************************/
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
h1, h2, h3 {
  line-height: 1.1em;
  color: #222;
}
h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }
p {
  line-height: 1.5em;
  margin-bottom: 0px;
  font-size: 16px;
  color: #444;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}
button {
  background-color: #95a5a6;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: relative;
  padding: 0.3em 1em;
}
button:hover { background-color: #7f8c8d; }
button.primary { background-color: #3498db; }
button.primary:hover { background-color: #2980b9; }
button.success { background-color: #2ecc71; }
button.success:hover { background-color: #27ae60; }
button.warning { background-color: #f1c40f; }
button.warning:hover{ background-color: #f39c12; }
button.danger { background-color: #e74c3c; }
button.danger:hover { background-color: #c0392b; }

/* LAYOUT */
.container {
  max-width: 600px;
  padding: 0 2em;
  margin: auto;
}
