body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}
h1, h2, h3 {
  line-height: 1.1em;
  color: #222;
}
h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }
p {
  line-height: 1.5em;
  margin-bottom: 0px;
  font-size: 16px;
  color: #444;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}
.container {
  max-width: 600px;
  padding: 0 2em;
  margin: auto;
}
